<div class="row">
  <div class="col col-md-8 col-md-offset-1">
    <h1>Register Diseases</h1>
  </div>
</div>

<div class="row">
  <div class="col col-md-2 col-md-offset-1">

    <div class="row">
      <div class="col col-md-12">
        <label>
          Name of Disease
        </label>
        <input type="text" value="Diabetes Mellitus Type 2">
		    <br><br>
		    <button>Save</button>
      </div>
    </div>
    
  </div>

  <div class="col col-md-3 col-md-offset-1">
    <div class="row">
	    <div class="col col-md-12">
	        <label>
		        Symptoms
		      </label>
		      <textarea placeholder="Enter Symptoms"></textarea>
	    </div>
    </div>
  </div>

  <div class="col col-md-3 col-md-offset-1">
    <div class="row">
	    <div class="col col-md-12">
	      <label>
	       Medicines
        </label>
				<input type="text" placeholder="Search">
				<div>
					<input type="checkbox">Metformin<br>
					<input type="checkbox">Methadone<br>
					<input type="checkbox">Methamphetamine<br>
					<input type="checkbox">Methazolamide<br>
					<input type="checkbox">Methenamine<br>
					<input type="checkbox">Methimazole<br>
					<input type="checkbox">Meth
				</div>
	    </div>
    </div>
  </div>
  
</div>