.main {
  margin: 0 auto;
  max-width: 320px;
}

.login-or {
  position: relative;
  margin-top: 20%;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  color: #aaa;
}

.span-or {
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  display: block;
  width: 50px;
  text-align: center;
  background-color: #fff;
}

.hr-or {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: 1px;
  background-color: #cdcdcd;
}

h3 {
  line-height: 300%;
  text-align: center;
}

input[type="password"] {
  margin-bottom: .6em;
  padding: .25em;
  width: 100%; 
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  color: #000;
  -webkit-font-smoothing: antialiased !important;
}

.login-form{
  position: relative;
  margin-top: 30%;
}

.back-pic{
  background: "/assets/img/Scrubs.jpg";
}