<div class="row">
  <div class="col col-md-8 col-md-offset-1">
    <h1>Register Patient</h1>
  </div>
</div>

<div class="row">
  <div class="col col-md-2 col-md-offset-1">
  	<div class="col col-md-12">
  	  <label for="pfname">Patient's First Name</label>
  	  <input type="text" id="pfname">
  	</div>
  	<div class="col col-md-12">
  	  <label for="plname">Patient's Last Name</label>
  	  <input type="text" id="plname">
  	</div>
  	<div class="col col-md-12">
  	  <label for="bday">Birthday</label>
  	  <input type="text" id="bday">
  	</div>
  	<div class="col col-md-12">
  	  <label for="sex">Sex</label>
  	  <input type="text" id="sex">
  	</div>
  	<br>
  	<br>
  	<div class="col col-md-6">
  	  <button type="button">Create</button>
  	</div>
  </div>
</div>