<div class="row">
  <div class="col col-md-8 col-md-offset-1">
    <h1>Register an Account</h1>
  </div>
</div>

<div class="row" ng-controller="RegisterDoctorController">
  <ng-form name="registerDoctorForm">

    <div class="row match-padding">
      <div class="col col-md-3 col-md-offset-1">
        <label class="subtitle">First Name</label>
        <input type="text" ng-model="doctor.firstname" ng-required="true">
      </div>
      <div class="col col-md-3">
        <label class="subtitle">Last Name</label>
        <input type="text" ng-model="doctor.lastname" ng-required="true">
      </div>
    </div>

    <div class="row match-padding">
      <div class="col col-md-3 col-md-offset-1">
        <label class="subtitle">Email Address</label>
        <input type="email" ng-model="doctor.email" ng-required="true">
      </div>
      <div class="col col-md-3">
        <label class="subtitle">Address</label>
        <input type="text" ng-model="doctor.address" ng-required="true">
      </div>
    </div>
    
    <div class="row match-padding">
      <div class="col col-md-3 col-md-offset-1">
        <label class="subtitle">Specialization</label>
          <select ng-model="doctor.specialization" ng-required="true">
            <option value="">Choose a specialization</option>
            <option ng-repeat="option in specialization" value="{{option.name}}">{{option.name}}</option>
          </select>
      </div>
      <div class="col col-md-3">
        <label class="subtitle">Contact Number</label>
        <input type="text" ng-model="doctor.contactNo" ng-pattern="contactNoRegex" ng-required="true">
      </div>
    </div>
    
    <div class="row match-padding">
      <div class="col col-md-3 col-md-offset-1">
        <label class="subtitle">Username</label>
        <input type="text" ng-change="checkStrength()" ng-model="doctor.username" ng-required="true">
      </div>
      <div class="col col-md-3">
        <label class="subtitle">Birthday</label>
        <input type="date" ng-model="doctor.birthday" ng-required="true">
      </div>
    </div>
    
    <div class="row match-padding">
      <div class="col col-md-3 col-md-offset-1">
        <label class="subtitle">Password (At least 6 characters)</label>
        <input type="password" ng-model="doctor.password" ng-pattern="passwordRegex" zxcvbn="passwordStrength" ng-required="true">
      </div>
      <div class="col col-md-3">
        <label class="subtitle">Confirm Password</label>
        <input type="password" ng-model="doctor.passwordAgain" ng-required="true">
      </div>
    </div>
    <div class="row match-padding">
      <div class="col col-md-3 col-md-offset-1">
          <div class="meter">
            <div ng-class="meter" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <span class="subtitle">{{ passwordStatus }}</span>
      </div>
    </div>
    <div class="row match-padding">
        <div class="col col-md-3 col-md-offset-1">
          <button ng-class="checkStatus(registerDoctorForm.$valid)" ng-disabled="registerDoctorForm.$invalid" ng-click="registerDoctor()">{{ button }}</button>
        </div>
      </div>
    </div>
  </ng-form>
</div>