<div class="row">
  <div class="col col-md-8 col-md-offset-1">
    <h1>Register an Account</h1>
  </div>
</div>

<div class="row" ng-controller="RegisterDoctorController">
  <div class="col col-md-3 col-md-offset-1">
    <div class="row">
      <div class="col col-md-12"> 
        <label class="subtitle">First Name</label>
        <input type="text" ng-model="doctor.fname">
        <label class="subtitle">Specialization</label>
        <select ng-model="doctor.specialization">
          <option ng-repeat="option in specialization" value="{{option.id}}">{{option.name}}</option>
        </select>
        <label class="subtitle">Username</label>
        <input type="text" ng-model="doctor.username">
        <label class="subtitle">Password</label>
        <input type="text" ng-model="doctor.password">
        <label class="subtitle">Confirm Password</label>
        <input type="text" ng-model="doctor.passwordAgain">
        <button ng-click="registerDoctor(doctor)">Sign up</button>
      </div>
    </div>
  </div>
  
  <div class="col col-md-3">
    <div class="row">
      <div class="col col-md-12">
        <label class="subtitle">Last Name</label>
        <input type="text" ng-model="doctor.lname">
        <label class="subtitle">Address</label>
        <input type="text" ng-model="doctor.address">
        <label class="subtitle">Birthday</label>
        <input type="text" ng-model="doctor.birthday">
        <label class="subtitle">Contact Number</label>
        <input type="text" ng-model="doctor.number">
        <label class="subtitle">Email Address</label>
        <input type="text">
      </div>
    </div>
  </div>
</div>