<div class="row navbar__background" ng-controller="NavbarController">
  <div class="col col-md-10 col-md-offset-1">

    <div class="col col-md-8">
      <div ng-show="user == null" ng-class="selected('')" ng-click="go('/')">
        HealthPlus
      </div>
      <div ng-show="user != null" ng-class="selected('record')" ng-click="go('/admin/list/record')">
        Medical Records
      </div>
      <div ng-show="user != null" ng-class="selected('disease')" ng-click="go('/admin/list/disease')">
        Diseases
      </div>
      <div ng-show="user != null" ng-class="selected('medicine')" ng-click="go('/admin/list/medicine')">
        Medicines
      </div>
      <div ng-show="user != null && user.admin" ng-class="selected('doctor')" ng-click="go('/admin/list/doctor')">
        Doctors
      </div>
      <div ng-show="user != null" ng-class="selected('patient')" ng-click="go('/admin/list/patient')">
        Patients
      </div>
    </div>
    <div ng-show="checkPage()" class="col col-md-4 navbar__action-container">
      <div class="navbar__btn navbar__btn--action">
        <span class="anchor-like" ng-click="go(link)">
          <i class="fa fa-plus-square"></i> {{ registerButton }}
        </span>
      </div>
    </div>
  </div>
</div>
