body{
  font-family: $font;
  font-size: $sizeText;
  font-weight: 400;
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-stroke: 0.1px;
}

h1{
  @extend .match-padding;
  font-size: $sizePageTitle;
  font-weight: 700;
}

.subtitle{
  display: inline-block;
  font-size: $sizeText;
  text-transform: uppercase;
}

.subtitle--variable{
  font-style: italic;
  text-transform: none;
}

.subtitle__value{
  font-size: $sizeTextNavbar;
  font-weight: 500;
}

.match-padding { padding: 0 15px; }

.float-right { float: right; }

.float-left { float: left; }

.hyperlink{
  color: $babyBlue;
  cursor: pointer;
}

.marginBottom {
  margin-bottom: $sizePaddingHalf;
}	

.marginTop {
  margin-top: $sizePaddingHalf;
} 

.edit-button {
 
    color: #fff !important;
    background-color: #1a566f !important;
}
.delete-button {
 
    color: #fff !important;
    background-color: #8a0719 !important;
  
}

body {
  padding: 0px !important;
  margin: 0px;
}
.delete__icon {
   float: right;
   color: #ab9393;
}

.delete_btn {
margin-left: 12px;  
}

.margins{
  margin-top: $sizePaddingHalf;
  margin-bottom: $sizePaddingHalf;
}

.marginBottomNone{
  margin-bottom: 0;
}

.borders{
  border: 1.5px solid $black;
  height:150px;
}

.scrollable{
  overflow: auto;
  max-height: 140px;
}