body{
  margin: 0 auto;
  padding: 0;
  font-family: $font;
  font-size: $sizeText;
  font-weight: 400;
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-stroke: 0.1px;
}

h1{
  @extend .match-padding;
  font-size: $sizePageTitle;
  font-weight: 700;
}

.subtitle{
  margin-top: $sizePaddingHalf;
  display: inline-block;
  font-size: $sizeText;
  text-transform: uppercase;
}

.subtitle--variable{
  font-style: italic;
  text-transform: none;
}

.subtitle__value{
  font-size: $sizeTextNavbar;
  font-weight: 500;
}

.match-padding { padding: 0 15px; }

.float-right { float: right; }

.float-left { float: left; }

.hyperlink{
  color: $babyBlue;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: $white;
}

.unselectable {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

.edit-button{
  color: #fff !important;
  background-color: #1a566f !important;
}

.delete-button{ 
  color: #fff !important;
  background-color: #8a0719 !important;
}

.delete__icon{
  float: right;
  color: #ab9393;
}

.delete_btn{
  margin-left: 12px;  
}

.scrollable{
  overflow: auto;
  max-height: 140px;
}