.card__container{
  height: auto;
  margin-bottom: $sizePaddingThin;
  width: 100%;
  padding: $sizePadding;
  background-color: $softWhite;
  cursor: pointer;
}
.selectedCard__container{
  color: $lightGray !important;
}
.newPatient__container{
  color: $red !important;
}
.card__tableDiv{
  background-color: $softWhite !important;
}
.card__container--custom1{
  @extend  .card__container;
  height: 25em !important;
}
.card__container--flex{
  @extend  .card__container;
  height: auto !important;
}
.card__container--tiny{
  @extend  .card__container;
  height: .2em !important;
  padding-top:.1em !important;
  width: 4.5em !important;
  background-color:white;
}

.card__container--medium{
  @extend  .card__container;
  height: .9em !important;
  padding-top:.1em !important;
  width: 6.5em !important;
  background-color:white;
}

.card__title{
  display: block;
  font-size: $sizeCardTitle;
  font-weight: 700;
}

.card__desc{
  display: block;
  font-size: $sizeText;
  font-style: italic;
}
.card__desc--tiny{
  font-size: .5em;
  text-align: center;
}

.card__desc--medium{
  font-size: .7em;
  text-align: center;
}

.detail__container{
  margin-bottom: $sizePaddingThin;
  width: 100%;
  padding: $sizePadding;
  background-color: $softWhite;
}

.detail__title{
  display: block;
  font-size: $sizeDetailTitle;
  font-weight: 700;
}

.detail__desc{
  display: block;
  font-size: $sizeText;
  font-style: bold;
}

.detail__subtitle{
  display: block;
  font-size: $sizeDetailTitle;
  font-weight: 500;
}

.detail__containerTotalPrice{
  margin-bottom: $sizePaddingThin;
  width: 100%;
  padding: $sizePadding;
  background-color: $teal;
  color: white;
  font-size: $sizeDetailTitle;
  text-align: center
}