input[type=text], input[type=password], select{
  margin-top: $sizePaddingHalf;
  margin-bottom: $sizePaddingHalf;
  width: 100%;
  height: 2em;
  padding: $sizePaddingHalf;
  font-family: $font;
  font-size: $sizeText;
  color: $black;
  border: 1.5px solid $black;
  transition: 0.3s ease;
  -webkit-font-smoothing: antialiased !important;
}

textarea{
  margin-top: $sizePaddingHalf;
  margin-bottom: $sizePaddingHalf;
  width: 100%;
  height: 6em;
  padding: $sizePaddingHalf;
  font-family: $font;
  font-size: $sizeText;
  color: $black;
  border: 1.5px solid $black;
  transition: 0.3s ease;
  -webkit-font-smoothing: antialiased !important;
  
}

input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus{
  border: 1.5px solid $seafoamGreen;
  transition: 0.3s ease;
}
.shortinput{
  width:50% !important;
}

select{
  padding: $sizePaddingThin !important;
}

option{
  width: 100%;
}

textarea{
  resize: none;
}

button{
  padding: $sizePaddingHalf;
  font-family: $font;
  font-size: $sizeText;
  color: $black !important;
  background-color: $babyBlue;
  border: none;
  transition: 0.2s ease;
  margin-top: $sizePaddingHalf;
  margin-bottom: $sizePaddingHalf;
}

button.outline{
  padding: $sizePaddingHalf $sizePadding;
  background-color: $softWhite;
  transition: 0.2s ease;
  border: 1.5px solid $black;
}

button:hover{
  background-color: $babyBlue;
  transition: 0.2s ease;
}

input, select, option { outline: 0 }