$sizeText:            1.3em;
$sizeTextNavbar:      1.5em;
$sizePageTitle:       3em;
$sizeCardTitle:       2em;
$sizeDetailTitle:     1.5em;

$heightRow:           4em;
$heightNavbar:        2.7em;
$heightCard:          5.5em;

$sizePadding:         1em;
$sizePaddingRow:      0.75em;
$sizePaddingHalf:     0.6em;
$sizePaddingThin:     0.25em;