<div class="row"><!-- Header Portion -->
  <div class="col col-md-10 col-md-offset-1">
    <h1>List of All Medicines</h1><!-- Header Name for this Module -->
  </div>
</div>

<div class="row" ng-controller="ExploreMedicinesController"><!-- Body Portion -->
  <div class="col col-md-2 col-md-offset-1"><!-- Section for search -->
		<div class="row">
		  <div class="col col-md-6">
			<label class="subtitle">Search</label>
		  </div>
		</div>
	
		<div class="match-padding">
		  <input type="text" placeholder="Enter a name" ng-model="searchFilter">
		  <button ng-click="go('/admin/register/medicine')">New Medicine</button>
		</div>
  </div>



  <div class="col col-md-8"><!-- Section containing the list and detail of medicines -->
    <div class="col col-md-6"><!-- List sector -->
		  <label class="subtitle">ALL RESULTS</label>
		  
		  
		  
		  <div class="margins" >
		    <hplus-explore-medicines-card dir-paginate="med in medicines | filter: searchFilter | itemsPerPage:10" data="med" selectedMed="selectedMedicine" ng-click="setSelected(med)" ></hplus-explore-medicines-card>       
      </div>    			
    </div>
   	<div class="col col-md-6"><!-- Detail Sector -->
		  <hplus-selected-medicine-card data="selectedMedicine" ng-show="selectedMedicine"></hplus-selected-medicine-card>
		</div>
  </div>
</div>

<!-- Pagination Section -->
<dir-pagination-controls max-size="5"></dir-pagination-controls>