<div class="row">
  <div class="col col-md-8 col-md-offset-1">
    <h1>List of All Diseases</h1>
  </div>
</div>

<div class="row" ng-controller="ExploreDiseasesController">
  <div class="col col-md-2 col-md-offset-1">
    <div class="row">
      <div class="col col-md-6">
        <span class="subtitle">Search</span>
      </div>
    </div>
	
    <div class="match-padding">
      <input type="text" placeholder="Enter a keyword" ng-model="query">
      <button ng-click="go('/admin/register/disease')">New Disease</button>
    </div>
  </div>

  <div class="col col-md-8">
    <div> 
      <div class="col col-md-12 marginBottom">
        <span class="subtitle"><span ng-hide="query == ''">{{(diseases | filter : searchFilter).length}}</span><span ng-hide="query != ''">All {{(diseases | filter : searchFilter).length}}</span> Results<span ng-hide="query != ''"></span></span>
        <hplus-explore-diseases-card dir-paginate="dis in diseases | filter : searchFilter | itemsPerPage : 10 | orderBy : 'name'" data="dis"></hplus-explore-diseases-card>
        <dir-pagination-controls max-size="5"></dir-pagination-controls>
	    </div>
    </div>
  </div>
</div>