<div class="row">
  <div class="col col-md-8 col-md-offset-1">
    <h1>List of All Diseases</h1>
  </div>
</div>

<div class="row">
  <div class="col col-md-2 col-md-offset-1">
    <div class="row">
      <div class="col col-md-6">
        <span class="subtitle">Search</span>
      </div>
    </div>
	
    <div class="match-padding">
      <select>
        <option>Disease</option>
        <option>Medicine</option>
      </select>
      <input type="text" placeholder="Enter a keyword">
      <button>Search</button>
    </div>
  </div>

  <div class="col col-md-8">
    <div ng-controller="modalController"> 
      <div class="col col-md-12 marginBottom">
        <span class="subtitle">69 Results Matching</span>
        <span class="subtitle subtitle--variable">Pneumoultramicroscopicsilicovolcanoconiosis</span>
        
        <div class="margins">
	        <div class="card__container">
	          <div class="card__title">
	            Tuberculosis<a ng-click="go('/admin/update/disease')"><span class="delete__icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></a>
	          </div>
			  
	          <div class="card__desc">
	            Symptoms: Fever, chills, night sweats, loss of appetite, weight loss and fatigue.
	          </div>
	        </div>
	
	        <div class="card__container">
	          <div class="card__title">
	            Pneumonia <a ng-click="go('/admin/update/disease')"> <span class="delete__icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></a>
	          </div>
			  
	          <div class="card__desc">
	            Symptoms: Cough, fever, shaking chills, shortness of breath, chest pain, and 3 more...
	          </div>
	        </div>
	      </div>
      </div>
    </div>
  </div>
 </div>
 
<!-- Pagination Section -->
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="col col-md-3 col-md-offset-9">
      <div class="pagination__container">
        <div class="pagination__page">
          <<
        </div>
      
        <div class="pagination__page">
          <
        </div>
      
        <div class="pagination__page ">
          2
        </div>
      
        <div class="pagination__page pagination__current">
          3
        </div>
      
        <div class="pagination__page">
          4
        </div>
      
        <div class="pagination__page">
          >
        </div>
      
        <div class="pagination__page">
          >>
        </div>
      </div>
    </div>
  </div>
</div>