.header__background{
  height: $heightRow;
}

.header__app-text{
  height: $heightRow;
  font-size: 2em;
  font-weight: 500;
  line-height: 2em;
}

.header__user-container{
  margin-top: $sizePaddingRow;
  height: $heightRow;
  text-align: right;
}

.header__user-name{
  display: block;
  font-size: $sizeText;
  font-weight: 500;
}

.header__user-title{
  @extend .header__user-name;
  font-weight: 400;
}

.header__user-alignment{
  display: inline-block;
  padding: 0 $sizePaddingThin;
  vertical-align: top;
}

img.header__logo{
  height: 2em;
  width: auto;
  vertical-align: sub;
}

.dropbtn {
    background-color: #78C5EB;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 0px;
}

.dropdown:hover .dropbtn {
    background-color: #77E1EF;
}