<div class="row">
  <div class="col col-md-8 col-md-offset-1">
    <h1>Create Medical Record</h1>
  </div>
</div>

<div class="row">
  <div class="col col-md-2 col-md-offset-1">
    <div class="row">
      <div class="col col-md-12">
        <label>Patient's First Name</label>
        <input type="text">
        <label>Patient's Last Name</label>
        <input type="text">
        <label>Birthday</label>
        <input type="text">
        <label>Sex</label>
        <input type="text">
        <label>Admission Date</label>
        <input type="text">
        <button class="outline">Create</button>
      </div>
    </div>
  </div>
  <div class="col col-md-8 col-md-offset-1">
    <div class="row">
      <button class="outline float-right">Add 1 more disease</button>
      
    </div>
    </br>
    </br>
    </br>
    <div class="row card__container--custom1">
     
      <br>
      <div class="row">
        <div class="col col-md-12">
          <span class="subtitle">Disease</span>
          <br>
          <input type="text" class="shortinput"></input>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <span class="subtitle">Symptoms</span>
     
          <div class="collapsediv">
            <table>
              <br>
              <tr>
                <td><input type="checkbox" name=""><span>TextHere</span></td>
              </tr>
              <tr>
                <td><input type="checkbox" name=""><span>TextHere</span></td>
              </tr>
               <tr>
                <td><input type="checkbox" name=""><span>TextHere</span></td>
              </tr>
               <tr>
                <td><input type="checkbox" name=""><span>TextHere</span></td>
              </tr>
               <tr>
                <td><input type="checkbox" name=""><span>TextHere</span></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col col-md-6">.
          <span class="subtitle">Medicine</span>
          <div class="collapsediv">
            <br>
            <table>
              <tr>
                <td><input type="checkbox" name=""><span>TextHere</span></td>
              </tr>
              <tr>
                <td><input type="checkbox" name=""><span>TextHere</span></td>
              </tr>
               <tr>
                <td><input type="checkbox" name=""><span>TextHere</span></td>
              </tr>
               <tr>
                <td><input type="checkbox" name=""><span>TextHere</span></td>
              </tr>
               <tr>
                <td><input type="checkbox" name=""><span>TextHere</span></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>