.card__container{
  height: $heightCard;
  margin-bottom: $sizePaddingThin;
  width: 100%;
  padding: $sizePadding;
  background-color: $softWhite;
  cursor: pointer;
}

.card__title{
  display: block;
  font-size: $sizeCardTitle;
  font-weight: 700;
}

.card__desc{
  display: block;
  font-size: $sizeText;
  font-style: italic;
}

.detail__container{
  margin-bottom: $sizePaddingThin;
  width: 100%;
  padding: $sizePadding;
  background-color: $softWhite;
}

.detail__title{
  display: block;
  font-size: $sizeDetailTitle;
  font-weight: 700;
}

.detail__desc{
  display: block;
  font-size: $sizeText;
  font-style: bold;
}

.detail__subtitle{
  display: block;
  font-size: $sizeDetailTitle;
  font-weight: 500;
}