<div class="row">
  <div class="col col-md-8 col-md-offset-1">
    <h1>Register Diseases</h1>
  </div>
</div>

<div class="row" ng-controller="RegisterDiseasesController">
  <div class="col-md-10 col-md-offset-1">
    <div class="col col-md-4">
      <label class="subtitle">Name of Disease</label>
      <input type="text" value="Diabetes Mellitus Type 2">
      <button ng-click="checkSelected()">Save</button>
    </div>
  
    <div class="col col-md-4">
      <label class="subtitle">Symptoms</label>
      <input type="text" placeholder="Search Symptom">
      <div class="borders">
        <div class="scrollable">
          <div ng-repeat="option in symptomsSelected | orderBy:'name'">
            <input type="checkbox" ng-model="option.val" ng-true-value ="true" ng-false-value ="false" ng-change="removeSymptom(option)" ng-checked="true">{{option.name}}<br>
          </div>
          <div ng-repeat="option in symptomsSearch | orderBy:'name'">
            <input type="checkbox" ng-model="option.val" ng-true-value ="true" ng-false-value ="false" ng-change="addSymptom(option)">{{option.name}}<br>
          </div>
        </div>
      </div>
      <button ng-click="">Add New Symptom</button>
    </div>
  
    <div class="col col-md-4">
	    <label class="subtitle">Medicines</label>
	    <input type="text" placeholder="Search Medicine">
	    <div class="borders">
	      <div class="scrollable">
	        <div ng-repeat="option in medicinesSelected | orderBy:'name'">
	          <input type="checkbox" ng-model="option.val" ng-true-value ="true" ng-false-value ="false" ng-change="removeMedicine(option)" ng-checked="true">{{option.name}}<br>
	        </div>
	        <div ng-repeat="option in medicinesSearch | orderBy:'name'">
	          <input type="checkbox" ng-model="option.val" ng-true-value ="true" ng-false-value ="false" ng-change="addMedicine(option)">{{option.name}}<br>
	        </div>
	      </div>
      </div>
    </div>
  </div>
</div>