<div class="row">
  <div class="col col-md-8 col-md-offset-1">
    <h1><i class="fa fa-pencil-square-o"></i> Editing Dr. John Appleseed</h1>
  </div>
</div>

<div class="row">
  <div class="col col-md-3 col-md-offset-1">
    <div class="match-padding">
      <label class="subtitle">Specialization</label>
      <input type="text" value="Dentistry">
      <label class="subtitle">E-mail Address</label>
      <input type="text" value="joappleseed@hplus.com">
      <div ng-controller="modalController"> 
        <button ng-click="alert.alert()">Update</button>
		<button class="outline delete_btn" ng-click="alert.confirm()">Delete</button>
	  </div>
    </div>
  </div>
</div>