<div class="row">
  <div class="col col-md-8 col-md-offset-1">
    <h1>Create Medical Record</h1>
  </div>
</div>

<div class="row" ng-controller="RegisterMedicalRecordController">
  <ng-form name="createMedicalRecordForm">
  	<div class="col col-md-2 col-md-offset-1">
    
		 <div class="col col-md-2 col-md-offset-0"><!-- Section for search -->
		<div class="row">
	  <div class="container">  
	  	<form id="custom-search-form" class="form-search form-horizontal pull-left">
	    <label class="subtitle">Search</label>
	    <input type="text" placeholder="Enter a name" ng-model="searchFilter">
		</form>	 	  
	  </div>
	</div>
	
  </div>
  	</div>
 
 <div class="col col-md-8"><!-- Section containing the list and detail of medicines -->
    <div class="col col-md-9"><!-- List sector -->
		  <label class="subtitle">ALL RESULTS</label>
		  
		  <div class="margins" >
		    <hplus-explore-medicines-card dir-paginate="pat in patient | filter: {'name' : searchFilter} | itemsPerPage:10  | orderBy : 'name'" data="pat" ng-click="setSelected(pat)" ng-class="{'selectedCard__container': pat == selectedPatient}"></hplus-explore-medicines-card>  
		         
      </div>
      <div class="col-md-12">
      <!-- Pagination Section -->
      <dir-pagination-controls max-size="5"></dir-pagination-controls>
      </div>
    </div>
    <div class="col col-md-6"><!-- Detail Sector -->
		  <hplus-selected-medicine-card data="selectedPatient" ng-show="selectedPatient"></hplus-selected-medicine-card>
		</div>
  </div>
</div>
</ng-form>
</div>


    
     