<div ng-controller="DetailsCardController">
<ng-form name="createMedicalRecordForm">

  <div class="col-md-4">
    <label class="subtitle">Discharge Date: </label>
    <input type="date" ng-model="medicalRecord.dischargeDate" ng-required="true">
  </div>
  <div class="col-md-4 col-md-offset-4">
 		<label class="subtitle">Patient Type:</label>
 		<select ng-model="medicalRecord.type" ng-required="true">
      <option val="true">Inpatient</option>
      <option val="false">Outpatient</option>  
 		</select>
  </div>


<div class="col col-md-4">
  <label class="subtitle">Symptoms</label>
  <input type="text" placeholder="Search Symptom" ng-model="searchFilterSymp">
  <div class="borders">
    <div class="scrollable">
      <div ng-repeat="option in symptomList | filter: {'name':searchFilterSymp} | orderBy:['val','name']">
        <input type="checkbox" ng-model="option.val" ng-change="addRemoveSymptom(symptomList | filter: {val: true} | orderBy : 'name')" ng-required="!medicalRecord.symptomId.length" ng-false-value="null">{{option.name}}<br>
      </div>
    </div>
  </div>
  <button class="outline" type="submit" ng-click="saveMedRec()" ng-disabled="createMedicalRecordForm.$invalid">Create</button>
</div>

<div class="col col-md-4">
  <label class="subtitle">Diseases</label>
  <input type="text" placeholder="Search Disease" ng-model="searchFilterDis">
  <div class="borders">
    <div class="scrollable">
      <div ng-repeat="option in diseaseList | filter: {'name':searchFilterDis} | orderBy:['val','name']">
        <input type="checkbox" ng-model="option.val" ng-change="addRemoveDisease(diseaseList | filter: {val: true} | orderBy : 'name')" ng-required="!medicalRecord.diseaseId.length" ng-false-value="null">{{option.name}}<br>
      </div>
    </div>
  </div>
</div>

<div class="col col-md-4">
  <label class="subtitle">Medicines</label>
  <input type="text" placeholder="Search Medicine" ng-model="searchFilterMed">
  <div class="borders">
    <div class="scrollable">
      <div ng-repeat="optionmed in medicineList | filter: {'name':searchFilterMed} | orderBy:['val','name']">
        <input type="checkbox" ng-model="optionmed.val" ng-change="addRemoveMedicine(medicineList | filter: {val: true}| orderBy:'name')"  ng-required="medicalRecord.diseaseId.length > medicalRecord.medicineId.length" ng-false-value="null">{{optionmed.name}}
        <div class="row" ng-hide="!optionmed.val">
          <input type="number" ng-model="optionmed.quantity" placeholder="Quantity" ng-change="calculateTotal()" ng-required="optionmed.val" class="quant">{{' x ' + (optionmed.price|currency : 'PHP ')}}
        </div>
      </div>
    </div>
  </div>
  <br>
    <div class="margins">
      <div class="detail__containerTotalPrice">
        
          <b>Total:</b> {{medicalRecord.totalCost | currency : 'PHP '}} 
        
      </div>
    </div>
</div>
</ng-form>
</div>
