<ng-controller ng-controller="ViewDoctorController">
  <div class="row">
    <div class="col col-md-8 col-md-offset-1">
      <h1><i class="fa fa-user-md"></i>Dr. {{ doctorData.firstname + " " + doctorData.lastname }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-3 col-md-offset-1">
      <div class="match-padding">
        <label class="subtitle">Specialization</label>
        <div class="subtitle__value">
          {{ doctorData.specialization }}
        </div>

        <label class="subtitle">Contact #</label>
        <div class="subtitle__value">
          {{ doctorData.contactNo }}
        </div>

        <label class="subtitle">E-mail Address</label>
        <div class="subtitle__value">
          {{ doctorData.email }}
        </div>
  	  <div>
  		  <button class="outline" ng-click="go('/admin/edit/doctor')">Edit</button>
  		  <button class="outline" ng-click="confirmDelete()">Delete</button>
  	  </div>
      </div>
    </div>

    <div class="col col-md-7">
      <div class="col col-md-12">
        <label class="subtitle">Medical Records Handled By</label>

        <span class="subtitle subtitle--variable">
          Dr. {{ doctorData.firstname + " " + doctorData.lastname }} - Total: {{ recordList.length }}
        </span>

        <div ng-hide="recordList.length">
          <span class="subtitle">This doctor isn't handling any medical records</span>
        </div>

  		  <hplus-view-doctors-card ng-show="recordList.length" dir-paginate="record in recordList | itemsPerPage:10" data="record"></hplus-view-doctors-card>
      </div>
    </div>
  </div>

  <dir-pagination-controls max-size="5"></dir-pagination-controls>
</ng-controller>