<ng-controller ng-controller="ViewDoctorController">
  <div class="row">
    <div class="col col-md-8 col-md-offset-1">
      <h1><i class="fa fa-user-md"></i>Dr. {{ doctorData.name }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-3 col-md-offset-1">
      <div class="match-padding">
        <label class="subtitle">Specialization</label>
        <div class="subtitle__value">
          {{ doctorData.specialization }}
        </div>

        <label class="subtitle">Contact #</label>
        <div class="subtitle__value">
          {{ doctorData.contactNumber }}
        </div>

        <label class="subtitle">E-mail Address</label>
        <div class="subtitle__value">
          {{ doctorData.email }}
        </div>
  	  <div ng-controller="modalController">
  		<button class="outline" ng-click="go('/admin/edit/doctor')">Edit</button>
  		<button class="outline" ng-click="alert.confirm()">Delete</button>
  	  </div>
      </div>
    </div>

    <div class="col col-md-7">
      <div class="col col-md-12">
        <label class="subtitle">Medical Records Handled By</label>

        <span class="subtitle subtitle--variable">
          Dr. {{ doctorData.name }}
        </span>

  		  <hplus-view-doctors-card dir-paginate="record in recordList | itemsPerPage:10" data="record"></hplus-view-doctors-card>
      </div>
    </div>
  </div>

  <dir-pagination-controls max-size="5"></dir-pagination-controls>
</ng-controller>