<div class="row">
  <div class="col col-md-8 col-md-offset-1">
    <h1><i class="fa fa-user-md"></i>Dr. John Appleseed</h1>
  </div>
</div>

<div class="row" ng-controller="ViewDoctorController">
  <div class="col col-md-3 col-md-offset-1">
    <div class="match-padding">
      <label class="subtitle">Specialization</label>
      <div class="subtitle__value">
        Dentistry
      </div>
	  <label class="subtitle marginTop">Contact #</label>
      <div class="subtitle__value">
        09XX-XXX-XXXX
      </div>
      <label class="subtitle marginTop">E-mail Address</label>
      <div class="subtitle__value marginBottom">
        joappleseed@hplus.com
      </div>
	  <div ng-controller="modalCtrl as alert">
		<button class="outline" ng-click="go('/admin/edit/doctor')">Edit</button>
		<button class="outline delete_btn" ng-click="alert.confirm()">Delete</button>
	  </div>
    </div>
  </div>

  <div class="col col-md-8">
    <div class="col col-md-12">
      <label class="subtitle">Medical Records Handled By</label>
      <span class="subtitle subtitle--variable">
        Dr. John Appleseed
      </span>
	  <div class="margins">
		<!--<select ng-model="doctor.specialization">
          <option ng-repeat="option in specialization" value="{{option.id}}">{{option.name}}</option>
        </select>-->
		<ul>
			<li ng-repeat="option in data | startFrom:currentPage*pageSize | limitTo:pageSize">
				<div class="card__container">
				   <div class="card__title">
					  {{option.name}}
					  <a ng-click="go('#')"><span class="delete__icon"><i class="fa fa-eye" aria-hidden="true"></i></span></a>
				   </div>
				   <div class="card__desc">
					 Admitted {{option.date}} for {{option.disease}}
					</div>
				</div>
			</li>
		</ul>
		<div class="col col-md-5 col-md-offset-4">
		<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
        </button>
		 {{currentPage+1}}/{{numberOfPages()}}
        <button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
          Next
        </button>
		</div>
	  </div>
    </div>
  </div>
</div>

<!-- Pagination Section -->
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="col col-md-3 col-md-offset-9">
      <div class="pagination__container">
        <!--<div class="pagination__page">
          <<
        </div>
      
        <div class="pagination__page"> 
          <
        </div>
      
        <div class="pagination__page ">
          2
        </div>
      
        <div class="pagination__page pagination__current">
          3
        </div>
      
        <div class="pagination__page">
          4
        </div>
      
        <div class="pagination__page">
          >
        </div>
      
        <div class="pagination__page">
          >>
        </div>-->
      </div>
    </div>
  </div>
</div>