.meter {
    background: #d7d7d7;
    border: 0.25em solid #d7d7d7;
    border-radius: 0.25em;
    color: transparent;
    overflow: hidden;
}

.meter-bar {
    background: none;
    border-radius: inherit;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: 1em;
    position: relative;
}

.meter-bar-verybad {
    background-color: #be312f;
    width: 20%;
}

.meter-bar-bad {
    background-color: #ff8048;
    width: 40%;
}

.meter-bar-average {
    background-color: #e5e500;
    width: 60%;
}

.meter-bar-good {
    background-color: #32bc6c;
    width: 80%;
}

.meter-bar-verygood {
    background-color: #239664;
    width: 100%;
}