<div class="row">
  <div class="col col-md-8 col-md-offset-1">
    <h1>Edit Medicine</h1>
  </div>
</div>

<div class="row">
  <div class="col col-md-3 col-md-offset-1">
    <div class="row">
      <div class="col col-md-12">
        Name of Medicine:
        <input type="text" value="RiteMed Metformin">
      </div>
      <br>
	  <br>
    </div>
	
    <div class="row">
      <div class="col col-md-12">
        Price (PHP) : <input id="priceInputField" type="text" value="3.75">
      </div>
      <br>
	  <br>
    </div>
	
    <div class="col col-md-12" id="saveMed">
      <div ng-controller="modalCtrl as alert"> 
	    <button  ng-click="alert.alert()" >Update</button>
		<button class="outline delete_btn" ng-click="alert.confirm()">Delete</button>
	  </div>
    </div>
  </div>

  <div class="col col-md-8">
    <div class="col col-md-12">
      Description:
    </div>
    <div class="col col-md-12">
      <textarea id="descMed" rows="8" cols="50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut lorem quis dolor porttitor accumsan. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer vitae erat viverra, vestibulum enim id, pulvinar lectus. Sed volutpat tristique tristique. Vivamus turpis diam, consequat vel sagittis quis, convallis quis sem.</textarea>
    </div>
  </div>
</div>