$black:         #000;
$white:         #fff;

$green:         #228b22;
$yellow:        #ffd800;
$orange:        #ff5800;
$red:           #ed1c24;

$lightGray:     #CCC;
$lighterGray:   #EEE;
$darkGray:      #222;

$babyBlue:      #78C5EB;
$teal:          #3E809C;

$seafoamGreen:  #63ECB0;
$shamrockGreen: #009E60;