$sizeText:            1.3em;
$sizeTextNavbar:      1.5em;
$sizePageTitle:       3em;

$heightRow:           4em;

$sizePadding:         1em;
$sizePaddingRow:      0.75em;
$sizePaddingHalf:     0.6em;
$sizePaddingThin:     0.25em;