<div class="card__container" ng-controller="DoctorCardController">
  <div class="card__title">
    {{ data.lastname }}, {{ data.firstname }}

    <a ng-click="go('/admin/view/doctordetails', data); $event.stopPropagation();">
      <span class="delete__icon">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
    </a>
    <a ng-click="go('/admin/edit/doctor', data); $event.stopPropagation();">
      <span class="delete__icon">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </span>
    </a>
    <a ng-hide="data.medicalRecords" ng-click="delete(data); $event.stopPropagation();">
      <span class="delete__icon">
        <i class="fa fa-archive" aria-hidden="true"></i>
      </span>
    </a>

  </div>
  
  <div class="card__desc">
    {{ data.specialization }}
  </div>
</div>