<ng-controller ng-controller="ViewDiseaseController">
	<div class="row">
	  <div class="col col-md-8 col-md-offset-1">
	    <h1>
	      <i class="fa fa-thermometer-full"></i>
	      {{ disease.name[0].toUpperCase() + disease.name.substr(1) }}
	    </h1>
	  </div>
	</div>
	
	<div class="row">
	  <div class="col col-md-2 col-md-offset-1">
	    <div class="match-padding">
	      <span class="subtitle">
	        Symptoms
	      </span>
	      <div class="subtitle__value">
	        <div class="row card__container--flex">

	          <div class="card__container--medium" ng-repeat="symptom in disease.symp">
	            <div class="card__desc--medium">
	              {{ symptom }}
	            </div>
	          </div>
					
					</div>
	      </div>
	      <br>
	      <span class="subtitle">
	        Medicine
	      </span>
	      <br>
	     <table>
	        <tr ng-repeat="medicine in disease.meds">
	          <td><span>{{ medicine }}</span></td>
	        </tr>
	      </table>
	      <br>
	      <button class="outline" ng-click="go('/admin/update/disease')" ng-show="user.admin && !recordList">Edit</button>
	      <button class="outline" ng-click="delete()" ng-show="user.admin && !recordList">Archive</button>
	    </div>
	  </div>
	
	  <div class="col col-md-8">
	    <div class="col col-md-12">
	      <div class="row">
	        <div class="col col-md-4">
	          <span class="subtitle">
	            OCCURRENCE IN
	          </span>
	          <span class="subtitle subtitle--variable">
	            {{ monthAndYear }}
	          </span>
	          <div class="subtitle__value">
	            {{ monthUsage }} Patients
	          </div>
	        </div>
	          
	        <div class="col col-md-4">
	          <span class="subtitle">
	            OCCURRENCE IN YEAR
	          </span>
	          <span class="subtitle subtitle--variable">
	            {{ year }}
	          </span>
	          <div class="subtitle__value">
	            {{ yearUsage }} Patients
	          </div>
	        </div>
	      </div>
	    </div>
	
	    <div class="col col-md-12">
	      <br>
				<br>
				<label ng-if="!recordList" class="subtitle">Hasn't been diagnosed in any patient</label>
	      <label ng-if="recordList" class="subtitle">DIAGNOSED IN THE FOLLOWING PATIENTS</label>
	      <hplus-view-disease-card dir-paginate="record in recordList | itemsPerPage:10" data="record"></hplus-view-disease-card>
	    </div>
	  </div>
	</div>
	<dir-pagination-controls max-size="5"></dir-pagination-controls>
</ng-controller>