<div class="row"><!-- Header Portion -->
  <div class="col col-md-10 col-md-offset-1">
    <h1>List of All Patients</h1><!-- Header Name for this Module -->
  </div>
</div>

<div class="row" ng-controller="ExplorePatientsController"><!-- Body Portion -->
  <div class="col col-md-2 col-md-offset-1"><!-- Section for search -->
    <div class="row">
	  <div class="col col-md-12">
	    <label class="subtitle">Search</label>
	    <input type="text" placeholder="Enter a name or specialty" ng-model="query">
      <button ng-click="go('/admin/register/patient')">New Patient</button>
	  </div>
	</div>

  </div>
  
  <div class="col col-md-8"><!-- Section containing the tabulated list of patients -->
    <div class="col col-md-12">
			<span class="subtitle"><span >All</span> Results</span>
			<div class="margins">
        <!-- List Section -->
   <div class="card__container">
  <div class="card__title">
    Bento Chonghua
    <a>
      <span class="delete__icon">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
    </a>
    <a>
      <span class="delete__icon">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </span>
    </a>
    <a>
      <span class="delete__icon">
        <i class="fa fa-archive" aria-hidden="true"></i>
      </span>
    </a>

  </div>
  <div class="card__desc">
    Last admitted August 16,2017
  </div>
</div>
<div class="card__container">
  <div class="card__title">
    Dummy The Mummy
    <a>
      <span class="delete__icon">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
    </a>
    <a>
      <span class="delete__icon">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </span>
    </a>
    <a>
      <span class="delete__icon">
        <i class="fa fa-archive" aria-hidden="true"></i>
      </span>
    </a>

  </div>
  <div class="card__desc">
    Last admitted November 1,2017
  </div>
</div>
		</div>
    </div>
  </div>
</div>


<dir-pagination-controls max-size="5"></dir-pagination-controls>