<div class="row">
  <div class="col col-md-8 col-md-offset-1">
    <h1>Edit Disease</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
	  <div class="col col-md-4">
	    <label class="subtitle">Name of Disease</label>
      <input type="text" value="Diabetes Mellitus Type 2">
			<div ng-controller="modalController"> 
			  <button ng-click="alert.alert()">Update</button>
			  <button class="outline delete_btn" ng-click="alert.confirm()">Delete</button>
			</div>
	  </div>
	
	  <div class="col col-md-4">
		  <label class="subtitle">Symptoms</label>
			<textarea placeholder="Enter Symptoms"></textarea>
		</div>
	
	  <div class="col col-md-4">
	    <label class="subtitle">Medicines</label>
	    <input type="text" placeholder="Search">
	   	<div>
			  <input type="checkbox">Metformin<br>
			  <input type="checkbox">Methadone<br>
			  <input type="checkbox">Methamphetamine<br>
			  <input type="checkbox">Methazolamide<br>
			  <input type="checkbox">Methenamine<br>
			  <input type="checkbox">Methimazole<br>
			  <input type="checkbox">Meth
		  </div>
    </div>
  </div>
</div>